### Imports

In [1]:
import pandas as pd

### DataFrame Setup

In [3]:
df = pd.read_csv("wood_coasters.csv", index_col="Rank")

df. head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Wooden,Phoenix,Knoebels Amusement Resort,"Elysburg, Pennsylvania",Dinn-PTC/Shmeck,1985
2,2022,Wooden,Voyage,Holiday World,"Santa Claus, Indiana",The Gravity Group,2006
3,2022,Wooden,El Toro,Six Flags Great Adventure,"Jackson, New Jersey",Intamin,2006
4,2022,Wooden,Boulder Dash,Lake Compounce,"Bristol, Connecticut",Custom Coasters Int.,2000
5,2022,Wooden,Beast,Kings Island,"Mason, Ohio",KECO,1979

### Checking for null value

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 605 entries, 1 to 50
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_Rank    605 non-null    object
 1   Award_Category  605 non-null    object
 2   Name            605 non-null    object
 3   Park            605 non-null    object
 4   Location        605 non-null    object
 5   Supplier        605 non-null    object
 6   Year_Built      605 non-null    object
dtypes: object(7)
memory usage: 37.8+ KB

### Checking for duplicates

In [5]:
df.duplicated().sort_values()

Rank
1     False
46    False
47    False
48    False
49    False
      ...
14     True
19     True
42     True
45     True
1      True
Length: 605, dtype: bool

### Removing duplicates

In [6]:
dup_df =df.drop_duplicates()

dup_df[dup_df.duplicated()]

Empty DataFrame
Columns: [Year_of_Rank, Award_Category, Name, Park, Location, Supplier, Year_Built]
Index: []

### Exported to CSV file

In [7]:
dup_df.to_csv("cleaned_wood_coasters.csv", encoding="utf-8")