### Imports

In [1]:
import pandas as pd

### DataFrame from CSV file

In [9]:
df =pd.read_csv("steel_coasters.csv",  index_col="Rank")

df.head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Steel,Fury 325,Carowinds,"Charlotte, North Carolina",B&M,2015
2,2022,Steel,Steel Vengeance,Cedar Point,"Sandusky, Ohio",Rocky Mountain Const.,2018
3,2022,Steel,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000
4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,"Tampa, Florida",Rocky Mountain Const.,2022
5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,"Orlando, Florida",Intamin,2021

### Checking for Duplicate

In [10]:
df[df.duplicated()]

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
36,2022,Steel,Alpengeist,Busch Gardens Williamsburg,"Williamsburg, Virginia",B&M,1997
8,2021,Steel,Leviathan,Canada's Wonderland,"Vaughan, Ontario, Canada",B&M,2012
28,2018,Steel,Montu,Busch Gardens Tampa,"Tampa, Fla.",B&M,1996
38,2017,Steel,Quimera,La Feria,"Mexico City, Mexico",Schwarzkopf,2007
42,2016,Steel,Kumba,Busch Gardens Tampa,"Tampa, Fla.",B&M,1993

### Removing Duplicates

In [11]:
dup_df = df.drop_duplicates()

dup_df[dup_df.duplicated()]

Empty DataFrame
Columns: [Year_of_Rank, Award_Category, Name, Park, Location, Supplier, Year_Built]
Index: []

### Exporting to CSV file

In [12]:
dup_df.to_csv("cleaned_steel_coasters.csv", encoding="utf-8")