### Imports

In [6]:
import pandas as pd 
import mysql.connector as connection

### Connecting to SQL Database (coaster_metrics)

In [26]:
sql_db = connection.connect(host="devcodecamp-mysql.c5p7yvjq1h8y.us-east-2.rds.amazonaws.com", database="rollercoasterdb", user="root", password="D3v$tudent", use_pure="True")
query = "SELECT * FROM park_metric"

df = pd.read_sql(query, sql_db)

df.head()

C:\Users\Godov\AppData\Local\Temp\ipykernel_17328\3043603830.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, sql_db)

,Name,Park,Material_Type,Seating_Type,Speed,Height,Length,Manufacturer,City,State,Country
0,Afterburn,Carowinds,Steel,Inverted,100.0,34.0,900.0,B&M,Charlotte,North Carolina,United States
1,Alpengeist,Busch Gardens Williamsburg,Steel,Inverted,108.0,60.0,NaN,B&M,Williamsburg,Virginia,United States
2,American Thunder,Six Flags St. Louis,Wooden,Sit Down,77.0,25.0,827.0,GCI,Eureka,Missouri,United States
3,Apocalypse,Six Flags Magic Mountain,Wooden,Sit Down,89.0,31.0,869.0,GCI,Valencia,California,United States
4,Apollo's Chariot,Busch Gardens Williamsburg,Steel,Sit Down,118.0,52.0,1488.0,B&M,Williamsburg,Virginia,United States

### Checking for Null Values

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           210 non-null    object
 1   Park           210 non-null    object
 2   Material_Type  210 non-null    object
 3   Seating_Type   210 non-null    object
 4   speed          196 non-null    float64
 5   height         204 non-null    float64
 6   length         201 non-null    float64
 7   manufacturer   210 non-null    object
 8   city           210 non-null    object
 9   state          210 non-null    object
 10  country        210 non-null    object
dtypes: float64(3), object(8)
memory usage: 18.2+ KB

### Removing Null Values

In [27]:
non_null_df = df.dropna()

non_null_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 209
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           189 non-null    object
 1   Park           189 non-null    object
 2   Material_Type  189 non-null    object
 3   Seating_Type   189 non-null    object
 4   Speed          189 non-null    float64
 5   Height         189 non-null    float64
 6   Length         189 non-null    float64
 7   Manufacturer   189 non-null    object
 8   City           189 non-null    object
 9   State          189 non-null    object
 10  Country        189 non-null    object
dtypes: float64(3), object(8)
memory usage: 17.7+ KB

### Identifying Duplicates

In [28]:
non_null_df.duplicated().sort_values()

0      False
135    False
136    False
137    False
138    False
       ...
76     False
77     False
78     False
67     False
209    False
Length: 189, dtype: bool

In [29]:
non_null_df.head()

,Name,Park,Material_Type,Seating_Type,Speed,Height,Length,Manufacturer,City,State,Country
0,Afterburn,Carowinds,Steel,Inverted,100.0,34.0,900.0,B&M,Charlotte,North Carolina,United States
2,American Thunder,Six Flags St. Louis,Wooden,Sit Down,77.0,25.0,827.0,GCI,Eureka,Missouri,United States
3,Apocalypse,Six Flags Magic Mountain,Wooden,Sit Down,89.0,31.0,869.0,GCI,Valencia,California,United States
4,Apollo's Chariot,Busch Gardens Williamsburg,Steel,Sit Down,118.0,52.0,1488.0,B&M,Williamsburg,Virginia,United States
6,Balder,Liseberg,Wooden,Sit Down,90.0,36.0,1070.0,Intamin,Gothenburg,Västra Götalands,Sweden

### Exporting to CSV file

In [30]:
non_null_df.to_csv("clean_park_metrics.csv", encoding="utf-8")